.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/vendor/

application/config/development
application/config/production

www/media/*
!www/media/index.html

www/.htaccess

.idea/